### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# --- read CSV files ---
SchoolFile = "Resources/schools_complete.csv"
StudentFile = "Resources/students_complete.csv"

# --- store file data into dataframes using Pandas library ---
SchoolData = pd.read_csv(SchoolFile)
StudentData = pd.read_csv(StudentFile)

# --- create a dictionary for format styling ---
FormatGuide = {"Total Students": "{:,}", "Total Budget": "${:,.2f}", "Total School Budget": "${:,.2f}", 
               "Per Student Budget": "${:,.2f}", "Average Math Score": "{:.6f}", "Average Reading Score": "{:.6f}", 
               "% Passing Math": "{:.6%}", "% Passing Reading": "{:.6%}", "% Overall Passing": "{:.6%}",
               "9th": "{0:.6f}%", "10th": "{0:.6f}%", "11th": "{0:.6f}%", "12th": "{0:.6f}%"}

# --- merge the data into one dataset on "school_name" using Pandas library ---
AllData = pd.merge(SchoolData, StudentData, how="left", on=["school_name"])
AllData.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
# --- DISTRICT SUMMARY ---

# --- find total num of schools, students, sum of budget ---
TotalSchools = SchoolData["School ID"].count()
TotalStudents = StudentData["Student ID"].count()
TotalBudget = SchoolData["budget"].sum()

# --- calculate average of math and reading scores ---
AvgMathScore = AllData["math_score"].mean()
AvgReadingScore = AllData["reading_score"].mean()

# --- find students with a scores of 70 or greater in math and reading, and store the count in new variables ---
PassMath = AllData.loc[AllData["math_score"] >= 70 , :]
NumPassMath = PassMath["Student ID"].count()

PassReading = AllData.loc[AllData["reading_score"] >= 70, :]
NumPassReading = PassReading["Student ID"].count()

OverallPass = AllData.loc[(AllData["math_score"] >= 70) & (AllData["reading_score"] >= 70), :]
NumOverallPass = OverallPass["Student ID"].count()

# --- calculate percentage of passing students ---
PercentPassMath = (NumPassMath / TotalStudents)
PercentPassReading = (NumPassReading / TotalStudents)
PercentOverallPass = (NumOverallPass / TotalStudents)

# --- create a dataframe to hold the results and pass Format Guide to style the table ---
DistrictSummaryDF = pd.DataFrame({"Total Schools": [TotalSchools],
                   "Total Students": [TotalStudents],
                   "Total Budget": [TotalBudget],
                   "Average Math Score": [AvgMathScore],
                   "Average Reading Score": [AvgReadingScore],
                   "% Passing Math": [PercentPassMath],
                   "% Passing Reading": [PercentPassReading],
                   "% Overall Passing": [PercentOverallPass]
                    }).style.format(FormatGuide)

# --- print dataframe ---
DistrictSummaryDF

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [8]:
# --- SCHOOL SUMMARY ---

# --- create a new dataframe from original SchoolData dataframe, set index to school name and rename columns ---
SchoolSummary = SchoolData[["school_name", "type", "size", "budget"]].set_index("school_name").sort_values("school_name")
SchoolSummary = SchoolSummary.rename(columns= {"type": "School Type",
                                               "size": "Total Students",
                                               "budget": "Total School Budget"})

# --- get total students, total school budget and store in variables for calculations ---
TotalStudentsbySchool = SchoolSummary["Total Students"]
TotalSchoolBudget = SchoolSummary["Total School Budget"]

# --- calculate per student budget ---
PerStudentBudget = TotalSchoolBudget / TotalStudentsbySchool

# --- create a groupby object from the merged dataframe to calculate student scores by school ---
GroupedSchools = AllData.groupby("school_name")

# --- calculate math and reading score averages by school ---
SchoolMathAvg = GroupedSchools["math_score"].mean()
SchoolReadingAvg = GroupedSchools["reading_score"].mean()

# --- calculate math, reading and overall passing percentages by school --- 
SchoolMathPercent = AllData[AllData["math_score"] >= 70].groupby(['school_name']).size() / TotalStudentsbySchool
SchoolReadingPercent = AllData[AllData["reading_score"] >= 70].groupby(['school_name']).size() / TotalStudentsbySchool
SchoolOverallPercent = AllData[(AllData["math_score"] >= 70) & (AllData["reading_score"] >= 70)].groupby(['school_name']).size() / TotalStudentsbySchool

# --- add calculated series above to the School Summary dataframe ---
SchoolSummary["Per Student Budget"] = PerStudentBudget
SchoolSummary["Average Math Score"] = SchoolMathAvg
SchoolSummary["Average Reading Score"] = SchoolReadingAvg
SchoolSummary["% Passing Math"] = SchoolMathPercent
SchoolSummary["% Passing Reading"] = SchoolReadingPercent
SchoolSummary["% Overall Passing"] = SchoolOverallPercent

# --- create final school summary dataframe with formatting ---
SchoolSummaryDF = SchoolSummary.style.format(FormatGuide)
SchoolSummaryDF.index.name = None
SchoolSummaryDF

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [9]:
# --- Top Performing Schools (By % Overall Passing) ---

# --- use the sort_values method on the % Overall Passing column by descending order and save the first five (head) in a variable ---
TopFive = SchoolSummary.sort_values(["% Overall Passing"], ascending = False).head()

# --- display the top 5 performing schools with formatting ---
TopFiveDF = TopFive.style.format(FormatGuide)
TopFiveDF

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [10]:
# --- Bottom Performing Schools (By % Overall Passing) ---

# --- use the sort_values method on the % Overall Passing column by ascending order and save the first five (head) in a variable ---
BottomFive = SchoolSummary.sort_values(["% Overall Passing"]).head()

# --- display the bottom 5 performing schools with formatting ---
BottomFiveDF = BottomFive.style.format(FormatGuide)
BottomFiveDF

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
# --- Math Scores by Grade ---

# --- create a series with math averages for each grade ---
Grade9MathAvg = AllData[AllData["grade"] == "9th"].groupby("school_name")["math_score"].mean()
Grade10MathAvg = AllData[AllData["grade"] == "10th"].groupby("school_name")["math_score"].mean()
Grade11MathAvg = AllData[AllData["grade"] == "11th"].groupby("school_name")["math_score"].mean()
Grade12MathAvg = AllData[AllData["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# --- create a dataframe with averages ---
GradeMathAverages = pd.DataFrame({"9th": Grade9MathAvg,
                                  "10th": Grade10MathAvg,
                                  "11th": Grade11MathAvg,
                                  "12th": Grade12MathAvg})

# --- display math averages per grade by school with formatting ---
GradeMathAveragesDF = GradeMathAverages.style.format(FormatGuide)
GradeMathAveragesDF.index.name = None
GradeMathAveragesDF

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
# --- Reading Score by Grade ---

# --- create a series with reading averages for each grade ---
Grade9ReadingAvg = AllData[AllData["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
Grade10ReadingAvg = AllData[AllData["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
Grade11ReadingAvg = AllData[AllData["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
Grade12ReadingAvg = AllData[AllData["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()

# --- create a dataframe with averages ---
GradeReadingAverages = pd.DataFrame({"9th": Grade9ReadingAvg,
                                  "10th": Grade10ReadingAvg,
                                  "11th": Grade11ReadingAvg,
                                  "12th": Grade12ReadingAvg})

# --- display math averages per grade by school with formatting ---
GradeReadingAveragesDF = GradeReadingAverages.style.format(FormatGuide)
GradeReadingAveragesDF.index.name = None
GradeReadingAveragesDF

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [13]:
# --- Scores by School Spending ---

# --- create a new dataframe from the School Summary dataframe ---
SchoolSpending = SchoolSummary[["Average Math Score", "Average Reading Score", "% Passing Math",
                                "% Passing Reading", "% Overall Passing"]].copy()

# --- create bins to group school spending ---
SpendBins = [0, 585, 630, 645, 675]
SpendLabels = ["<$584", "$585-629", "$630-644", "$645-675"]

# --- create a new column in the dataframe and append the bins using cut() on Per Student Budget --- 
SchoolSpending["Spending Ranges (Per Student)"] = pd.cut(SchoolSummary["Per Student Budget"], SpendBins, labels = SpendLabels)

# --- create a dataframe groupby object on the spending range column ---
SchoolSpending = SchoolSpending.groupby("Spending Ranges (Per Student)").mean()

# --- display Scores by School Spending with formatting ---
SchoolSpendingDF = SchoolSpending.style.format(FormatGuide)
SchoolSpendingDF

## Scores by School Size

* Perform the same operations as above, based on school size.

In [14]:
# --- Scores by School Size ---

# --- create a new dataframe from the School Summary dataframe ---
SchoolSizeScores = SchoolSummary[["Average Math Score", "Average Reading Score", "% Passing Math",
                                "% Passing Reading", "% Overall Passing"]].copy()

# --- create bins to group school sizes ---
SizeBins = [0, 1000, 2000, 5000]
SizeLabels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# --- create a new column in the dataframe and append the bins using cut() on Total Students --- 
SchoolSizeScores["School Size"] = pd.cut(SchoolSummary["Total Students"], SizeBins, labels = SizeLabels)


# --- create a dataframe groupby object on the total students column ---
SchoolSizeScores = SchoolSizeScores.groupby("School Size").mean()

# --- display Scores by School Size with formatting ---
SchoolSizeDF = SchoolSizeScores.style.format(FormatGuide)
SchoolSizeDF

## Scores by School Type

* Perform the same operations as above, based on school type

In [15]:
# --- Scores by School Type ---

# --- create a new dataframe from the School Summary dataframe ---
SchoolTypeScores = SchoolSummary[["School Type", "Average Math Score", "Average Reading Score", "% Passing Math",
                                "% Passing Reading", "% Overall Passing"]]

# --- create a dataframe groupby object on the mean of school type column ---
SchoolTypeScores = SchoolTypeScores.groupby("School Type").mean()


# --- display Scores by School Type with formatting ---
SchoolTypeDF = SchoolTypeScores.style.format(FormatGuide)
SchoolTypeDF